.work
    .content
        - const lrm = require("../../../images/le-royal-monceau.jpg");
        img(src=lrm, alt="lrm")
        h2.en Le Royal Monceau
        h3
            span.en Hotel
            span.zh 酒店