#hero {
  width: 150vh;
  position: relative;

  .title {
    position: absolute;
    top: 2vh;
    left: 2vh;
  }

  .content {
    position: relative;
    top: -3.25vh;
    left: 35vh;
    width: 110vh;
    height: 100vh;

    h1 {
      font-size: 22vh;
      font-weight: 900;
      position: absolute;

      & span {
        position: absolute;

        &:nth-child(1) {
          top: -10vh;
          left: 0;
        }

        &:nth-child(2) {
          top: 20vh;
          left: 40vh;

          &::before {
            content: "";
            display: block;
            height: .2vh;
            width: 22vh;
            background-color: black;
            transform: rotate(45deg) translate(-50%, 15vh);
            opacity: .2;
          }
        }

        &:nth-child(3) {
          top: 50vh;
          left: 80vh;

          &::before {
            content: "";
            display: block;
            height: .2vh;
            width: 22vh;
            background-color: black;
            transform: rotate(45deg) translate(-50%, 20vh);
            opacity: .2;
          }
        }
      }
    }

    h2 {
      font-size: 3vh;
      font-weight: 400;
      line-height: 1.2;
      position: absolute;
      height: 35vh;
      margin: 0;

      &.en {
        top: 12vh;
        right: 8vh;
        writing-mode: vertical-rl;
      }

      &.zh {
        font-weight: 600;
        bottom: 5vh;
        left: 0;
        writing-mode: vertical-rl;
        line-height: 1.4;
      }
    }
  }
}