#about
    .title
        .zh 關於
        .en About
    .content.story
        p Hi, my name is Alvino Dienova. I was born and raised in Malang, Indonesia.
            |  I went to school for software engineering, but I learned most things from the internet and the people around me.
        p Currently, I'm working as a full-stack developer.
            |  I'm available for collaborations and fun side projects. If you'd like to work together, feel free to get in touch.
        span alvinodien@yahoo.co.id / @dienoov
    .content.awards
        ul
            li LKS Web Technologies Kota (1)
            li LKS Web Technologies Wilker (1)
            li LKS Web Technologies Provinsi (1)
            li LKS Web Technologies Nasional (1)
        span More coming soon (hopefully)